body {
  min-height: unset;
}

.firebase-emulator-warning {
  display: none;
}

li.nav-item {
  display: flex;
  align-items: center;
}

.react-multiple-carousel__arrow--left {
  left: calc(1% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(1% + 1px) !important;
}

.form-text {
  margin-bottom: 0 !important;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__actions {
    display: flex;
    gap: 10px;
  }
}

.form-select {
  &:hover {
    cursor: pointer;
  }
}

.form-label {
  margin: 0;
  padding: 0;
}

.form-control:not(.form-select) {
  padding-right: $input-btn-padding-x;
}

.form-select:disabled,
.form-control:disabled,
.form-check-input:disabled {
  opacity: 0.5;
  border-color: var(--bs-input-border-color);
}

@import './components/account-address-action';
@import './components/account-address-section';
@import './components/account-addresses';
@import './components/account-admin-section';
@import './components/account-invitation-link-section';
@import './components/account-settings-section';
@import './components/address-card';
@import './components/address-form';
@import './components/admin-categories-list';
@import './components/admin-products-list';
@import './components/attribute-filter';
@import './components/auth-modal';
@import './components/banner';
@import './components/breadcrumb';
@import './components/cart-overview-form';
@import './components/cart-product-card';
@import './components/cart-products-list';
@import './components/categories-filter';
@import './components/category-button';
@import './components/category-section';
@import './components/expandable';
@import './components/filters-modal';
@import './components/form-field';
@import './components/invitation-status';
@import './components/modal';
@import './components/page';
@import './components/page-closed-with-invitations';
@import './components/page-loading';
@import './components/price-range-filter';
@import './components/product-card';
@import './components/product-info';
@import './components/products-list';
@import './components/range-slider';
@import './components/section';
@import './components/side-nav-container';
@import './components/suggested-category-products';
@import './components/wishlist-product-card';
@import './components/wishlist-products-list';
