.categories-filter {
  &__label {
    display: flex;
    align-items: center;
    gap: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    &--active {
      color: $primary;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
