.category-section {
  &__header-actions {
    display: flex;
    gap: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header-action {
    width: 200px;
  }
}