.expandable {
  &__label {
    display: flex;
    flex-direction: column;

    &:hover {
      cursor: pointer;
    }
  }

  &__item {
    height: 0;
    overflow: hidden;

    &--active {
      height: auto;
    }
  }
}