.header {
  margin-bottom: unset;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__brand {
    color: unset;
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    &:hover {
      color: $primary;
      cursor: pointer;
    }
  }

  &__main-nav {
    display: none;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
    }
  }

  &__nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      gap: 15px;
    }
  }

  &__nav-actions {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 5px;

    &--mobile {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  &__nav-actions-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: unset;

    @include media-breakpoint-up(lg) {
      justify-content: center;
    }

    &:hover {
      color: $primary;
      cursor: pointer;
    }
  }
}