$block: '.modal';

#{$block} {
  position: fixed;
  z-index: 20000;
  display: flex;
  overflow: hidden;

  &--bottom-center {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 0;
    transition: height 200ms ease;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    #{$block}__card {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: 80%;
      }
    }

    #{$block}__card-body {
      height: 600px;
    }
  }

  &--bottom-center#{$block}--active {
    height: 100vh;
  }

  &--full-left {
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 200ms ease;
    justify-content: flex-start;
    align-items: center;

    #{$block}__card {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 90%;
      height: 100%;
    }

    #{$block}__card-body {
      flex-grow: 1;
    }
  }

  &--full-left#{$block}--active {
    width: 100%;
  }

  &--full-right {
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    transition: width 200ms ease;
    justify-content: flex-end;
    align-items: center;

    #{$block}__card {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 90%;
      height: 100%;
    }

    #{$block}__card-body {
      flex-grow: 1;
    }
  }

  &--full-right#{$block}--active {
    width: 100%;
  }

  #{$block}__card {
    @extend .card;
    padding: 15px;
    margin: 0;
    display: flex;
    gap: 10px;
    max-width: 600px;
    z-index: 91;
  }

  &__card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 90;
    background-color: black;
    opacity: 0.5;

    &--active {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__card-body {
    overflow-y: scroll;
  }
}
