.section {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
